---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "sensor-simulator.fullname" . }}
  namespace: {{ include "sensor-simulator.namespace" . }}
  labels:
    {{- include "sensor-simulator.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "sensor-simulator.selectorLabels" . | nindent 4 }}
