environment                             = "<environment>"
resource_prefix                         = "<resource-prefix>"
location                                = "<location>"
add_current_entra_user_cluster_admin    = true
