# Configure default repository
registry=https://registry.npmjs.org/
# Use strict SSL connections
strict-ssl=true
# License type for the project
init-license=MIT
# Initial version for new projects
init-version=0.1.0
# URL of the npm registry to use
registry=https://registry.npmjs.org/
# Save exact versions of dependencies
save-exact=true
# Whether to generate a package-lock.json file
package-lock=true
# Use color in npm output
color=true
# Set log level to warn by default
loglevel=warn