{
  "id": "{{ .EntityId }}",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "{{ .EntityName }}",
  "entityIdParts": {{ .EntityIdParts }},
  "displayNamePropertyId": "{{ .DisplayNamePropertyId }}",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": {{ .Properties }},
  "timeseriesProperties": {{ .TimeseriesProperties }}
}
