{
  "id": "{{ .RelationshipId }}",
  "namespace": "usertypes",
  "name": "{{ .RelationshipName }}",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "{{ .SourceEntityId }}"
  },
  "target": {
    "entityTypeId": "{{ .TargetEntityId }}"
  }
}
