{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "EventHubConnection": "<EVENT_HUB_NAMESPACE_CONNECTION_STRING>",
    "ALERT_EVENTHUB_NAME": "evh-aio-alerts-dev-001",
    "ALERT_EVENTHUB_CONSUMER_GROUP": "fn-notifications",
    "NOTIFICATION_WEBHOOK_URL": "<YOUR_TEAMS_OR_SLACK_WEBHOOK_URL>",
    "ALERT_SEVERITY_THRESHOLD": "high"
  }
}
