{{- $satDefaultName := printf "%s-sat" (include "mqtt-otel-trace-exporter.fullname" .) -}}
{{- $x509DefaultName := printf "%s-x509" (include "mqtt-otel-trace-exporter.fullname" .) -}}

{{- if and .Values.satAuth.enabled .Values.satAuth.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ default $satDefaultName .Values.satAuth.secretName }}
  labels:
    {{- include "mqtt-otel-trace-exporter.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.satAuth.tokenKey }}: {{ .Values.satAuth.secret.token | b64enc }}
  {{- if .Values.satAuth.secret.caCert }}
  {{ .Values.satAuth.caCertKey }}: {{ .Values.satAuth.secret.caCert | b64enc }}
  {{- end }}
{{- end }}

{{- if and .Values.x509Auth.enabled .Values.x509Auth.create }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ default $x509DefaultName .Values.x509Auth.secretName }}
  labels:
    {{- include "mqtt-otel-trace-exporter.labels" . | nindent 4 }}
type: kubernetes.io/tls
data:
  {{ .Values.x509Auth.certKey }}: {{ .Values.x509Auth.secret.cert | b64enc }}
  {{ .Values.x509Auth.keyKey }}: {{ .Values.x509Auth.secret.key | b64enc }}
  {{- if .Values.x509Auth.secret.caCert }}
  {{ .Values.x509Auth.caCertKey }}: {{ .Values.x509Auth.secret.caCert | b64enc }}
  {{- end }}
{{- end }}
