---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: ai-edge-inference-sa
  labels:
    app: ai-edge-inference
    component: ai-inference
    part-of: edge-ai-inference
automountServiceAccountToken: true
