---
apiVersion: v1
kind: Service
metadata:
  name: ai-edge-inference
  labels:
    app: ai-edge-inference
    component: ai-inference
    part-of: edge-ai-inference
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: metrics
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: health
  selector:
    app: ai-edge-inference
